# Copyright (c) 2023 Arm Limited and/or its affiliates
# <open-source-office@arm.com>
# SPDX-License-Identifier: MIT

name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - closed
    branches:
      - main
  workflow_dispatch:

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          path: ${{ github.workspace }}
          submodules: 'recursive'
      - name: Install python 3
        uses: actions/setup-python@v3
        with:
          architecture:   x64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install build dependencies
        shell: bash
        run: |
          pip install cmake ninja imgtool cffi intelhex cbor2 cbor jinja2 PyYaml pyelftools
          sudo apt-get -y update
          sudo apt-get -y install srecord
      - name: Install GNU Arm toolchain
        shell: bash
        run: |
          sudo apt-get -y install gcc-arm-none-eabi
      - name: Generate dummy device credentials
        shell: bash
        run: |
          export IOT_OTA_ENDPOINT="dummy_endpoint"
          export IOT_OTA_CLIENT_CERT="dummy_certificate"
          export IOT_OTA_CLIENT_PRIV="dummy_priv_key"
          export IOT_OTA_CLIENT_PUB="dummy_pub_key"
          ./ci/generate_credentials.sh -f -p Config/aws_configs
          git config --global user.email "ci@example.com"
          git config --global user.name "ci"
      - name: Build the project
        shell: bash
        run: |
          ./Tools/scripts/build.sh aws-iot-example --toolchain GNU --certificate_path $PWD/certificate.pem  --private_key_path $PWD/private_key.pem
      - name: Copy artifacts
        shell: bash
        run: |
          tar -czf gnu_build.tar.gz \
          build/aws-iot-example_merged.elf \
          build/aws-iot-example-update_signed.bin \
          build/update-signature.txt
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: FRI-build-logs
          path: |
            ${{ github.workspace }}/gnu_build.tar.gz
          retention-days: 5
